
#main_menu {
	width:800px;
	height:600px;
	background-image:url('../imgs/Backgrounds/main-menu-bg.jpeg');

}

#main_menu_buttons {
	width: 50%;
	height:50%;
	padding : 25% 25% 25% 25%;
}

#main_menu_buttons button {
	width: 25%;
	height: 15%;
	margin-left: 35%;
	margin-right: 35%;
}

#solo_menu {
	display:none;	
}


#room_menu {
	background-image:url('../imgs/Backgrounds/game-room-menu.jpg');
	display:none;
}

#room {
	border:1px solid black;
	width: 500px;
	height: 300px;
	background-color: white;
}

#cur_game_name {
	color:white;
}

#kontainer {
	display:none;
	width: 800px;
	height:600px;
	border:1px solid black;	
}