
#options_menu {
	display:none;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	padding-left: 2%;
	background-image:url('../imgs/Backgrounds/options-menu-bg.jpg');
}

#options_form {

	width: 20%;
	height:80%;
	border: 1px solid black;
	margin:;
	background-color:white; 

}

.option_menu_item{

	margin-top:1%;
	margin-bottom:1%;
	padding-left: 10%;
	padding-right: 10%;
}

.option_controls{
	width:50%;
	height: 70%;
	background-color:white;
	position: fixed;
	top:35px;
	right:20%;
	padding:2px;
}

