
#multi_menu {
	display:none;
	background-image:url('../imgs/Backgrounds/multi-menu-bg.jpg');
}


#rooms {
	border:1px solid black;
	width: 500px;
	height: 300px;
	z-index: 0;
	background-color: white;
}

.join_room {
	width:99%;
	height: 40px;
	border-bottom:1px solid black;
	margin-top:2px;
	background-color: white;
}
